@using Customer.Helpers
@model Customer.ViewModels.ProductVM

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Product</h2>


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)


        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.CategoryID)
        @Html.HiddenFor(model => model.Created)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>



        @Html.Partial("~/Views/Content/ImageManagerPanel.cshtml", new Customer.Models.ImageUploadModel() { ImageFolder = Model.ImageFolder, ImageSettings = "ProductImages" })

        <br />
        <h3><img src="@Url.Content("~/Content/Images/YouTube.png")" style="height:32px; margin-right:10px; margin-bottom:-5px;" alt="YouTube Videos" />Add Videos</h3>
        <p style="font-size:0.9em;">To make up to 3 YouTube videos appear below this product simply paste the Embed code for the YouTube video into to the boxes below. <a href="http://www.youtube.com/watch?v=ZnuwB35GYMY">How to get the Embed code</a></p>
        <div>
            @Html.TextBoxFor(m => m.Video1, new { placeholder = "YouTube Video Embed Code" })
            @Html.ValidationMessageFor(m => m.Video1)<br />

            @Html.TextBoxFor(m => m.Video2, new { placeholder = "YouTube Video  Embed Code" })
            @Html.ValidationMessageFor(m => m.Video2)<br />

            @Html.TextBoxFor(m => m.Video3, new { placeholder = "YouTube Video  Embed Code" })
            @Html.ValidationMessageFor(m => m.Video3)<br />
            
        </div>
    
        <ul class="button-group">
            <li><input type="submit" value="Save" class="small button" /></li>
            <li>@Html.ActionButton("Cancel", "Details", "Product", new { ID = Model.ID }, new { @class = "small button" })</li>
        </ul>
}

