@model Customer.Models.ContactForm



@using (Html.BeginForm("ContactForm", "Content", FormMethod.Post, new {data_ajax_form="true"})) {
    @Html.ValidationSummary(true)

    <div class="editor-label">
        @Html.LabelFor(model => model.From)
        @Html.ValidationMessageFor(model => model.From)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.From)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.EmailAddress)
        @Html.ValidationMessageFor(model => model.EmailAddress)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.EmailAddress)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Subject)
        @Html.ValidationMessageFor(model => model.Subject)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Subject)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Message)
        @Html.ValidationMessageFor(model => model.Message)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Message)
    </div>

    
    @Html.Raw(ViewBag.Message)
    
    <p>
        <input type="submit" value="Submit" class="button" />
    </p>
}



